<!-- I decided that it would be nice to have <main> everywhere so I moved it to app.component.html. -->
<!-- <pb-breadcrumbs> is still a child of <main> (though also under <pb-homepage>). -->
<!-- It might be better to change this back later but for now it's less code. -->
<!-- I figured I would at least explain why you don't see <main> in this file. -->
<pb-breadcrumbs></pb-breadcrumbs>
<div class="page-area">
	<pb-article id="stay-on-track" title="Stay on track">
		Do you know where you are spending your money? If you really stop to track it down,
		you would get surprised! Proper budget management depends on real data... and this
		app will help you with that!
	</pb-article>

	<pb-article id="alerts" title="Alerts">
		What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
	</pb-article>

	<pb-article id="results" title="Results">
		People who stick to a financial plan, budgeting every expense, get out of debt faster!
		Also, they to live happier lives... since they expend without guilt or fear...
		because they know it is all good and accounted for.
	</pb-article>

	<pb-article id="free" title="Free">
		This app is free!!! And you are the only one holding your data!
	</pb-article>

	<pb-article id="stay-on-track2" title="Stay on track">
		Do you know where you are spending your money? If you really stop to track it down,
		you would get surprised! Proper budget management depends on real data... and this
		app will help you with that!
	</pb-article>

	<pb-article id="alerts2" title="Alerts">
		What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
	</pb-article>

	<pb-article id="results2" title="Results">
		People who stick to a financial plan, budgeting every expense, get out of debt faster!
		Also, they to live happier lives... since they expend without guilt or fear...
		because they know it is all good and accounted for.
	</pb-article>

	<pb-article id="free2" title="Free">
		This app is free!!! And you are the only one holding your data!
	</pb-article>

	<article style="max-width: 500px;">
		<h1>Chart</h1>
		<p>
			<canvas id="myChart" width="400" height="400"></canvas>
		</p>
	</article>

</div>
